.logo {
    text-align: center;
    margin-top: 3%;
    padding-top: 3%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
}
.navbar {
	padding: 20px;
	display: flex;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
    margin-left: -21.5em;
}

.navbar h1 {
	color: #3C64B1;
}

.navbar .links {
	margin-left: auto;
	display: flex;
}

.navbar a {
	/* font-family: 'Mulish'; */
	font-weight: bold;
	margin-left: 16px;
	text-decoration: none;
	padding: 10px;
	color: #373f41;
}

.navbar a:hover {
	color: #da2912;
}